@model List<HouseholdBudgeterFrontEnd.Models.Classes.HouseholdMembersViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Household Index</h2>

<p>Find below the list of users in this household.</p>



@if (Model == null || !Model.Any())
{
    <p>This household does not have any members.</p>
}
else
{
    <table>
        <thead>
            <tr>
                Name
            </tr>
            <tr>
                Email
            </tr>
        </thead>
        <tbody>
            @foreach (var member in Model)
            {
                <tr>
                    <td>
                        @member.Name
                    </td>
                    <td>
                        @member.Email
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

