@model List<HouseholdBudgeterFrontEnd.Models.Classes.ViewHouseholdViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Household Index</h2>

<p>Find below the list of households that you have created</p>
@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Create Household", "Create", "Household")
}



@if (Model == null || !Model.Any())
{
    <p>You haven't created any households</p>
}
else
{
    <table>
        <thead>
            <tr>
                Name
            </tr>
            <tr>
                Number of Members
            </tr>
        </thead>
        <tbody>
            @foreach (var household in Model)
            {
                <tr>
                    <td>
                        @household.Name
                    </td>
                    <td>
                        @household.NumberOfUsers
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

